@font-face {
    font-family: myFirstFont;
    src: url(Arial\ Nova\ W07\ Regular.woff);
  }
  
  body {
    /* background: #eabe11;; */
    background: url("../img/gradient.png");
    user-select: none;
    cursor: none;
    margin: 0px;
    overflow: hidden;
    width: 1920px;
    max-width: 1920px;
    background-size: cover;
    color: white;
    font-family: myFirstFont;
}

#right p,#false p,#percentage p{font-size: 100px;}

h1,h2{
    text-transform: uppercase;
}