@font-face {
    font-family: myFirstFont;
    src: url(Arial\ Nova\ W07\ Regular.woff);
  }

body {
    /* background: #eabe11;; */
    background: url("../img/gradient.png");
    user-select: none;
    cursor: none;
    margin: 0px;
    overflow-x: hidden;
    width: 100%;
    background-size: cover;
    color: white;
    font-family: myFirstFont;
}

button{
    margin-left: 20px;
}